@tailwind base;
@tailwind components;
@tailwind utilities;

/* Settings
   ========================================================================== */
input:checked ~ .checkmark {
    @apply bg-green-400;
    @apply border;
    @apply border-1;
} 

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: inline-flex;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    border: solid red;
    border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
}
  