
#root {
  font-family: 'Lato';
}
.ais-SearchBox { 
  margin: 0; 
}
.ais-Pagination { 
  margin-top: 1em 
}
.ais-Hits-item { margin-bottom: 1em; width: calc(50% - 1rem) }

.basis-xs {
  flex-basis: 20rem;
}

.thumb-container {
  line-height: 16rem;
}

.pt-full {
  padding-top: 100%;
}

.logo-badge {
 
}

.calorie-badge {

}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #f7fafc;
}

.thumb-meal:hover .overlay {
  opacity: 60%;
}